/* Default styles */
@import url("default.css");

/* >= 1024px width */
@media screen and (min-width: 1024px) {
    body {
        background-color: var(--color-white);
        display: flex;
        height: 100vh;
    }

    .navigation {
        width: 30vw;
        display: flex;
        padding: 2%;
        flex-direction: column;
        border-right: 1px solid var(--color-gray);
    }

    .navigation ul li {
        list-style: none;
        margin: 10px 0px;
    }

    .navigation ul li button {
        border: none;
        padding: 5px;
        color: var(--color-black);
        background-color: var(--color-white);
        cursor: pointer;
        transition: 200ms ease-in-out;
    }

    .navigation ul li button:hover {
        text-decoration: underline;
    }

    .logo {
        margin: 30px 0px;
    }

    .body {
        height: 100%;
        width: 100%;
        padding: 2%;
    }

    .card-profile {
        display: flex;
        border: 1px solid red;
        width: 100%;
        padding: 10px;
    }

    .card-profile img {
        width: 120px;
        margin: 10px;
    }

    .card-profile .info {
        display: flex;
        flex-direction: column;
    }

    .card-profile .info .nome {
        font-weight: medium;
        font-size: 2rem;
        margin-right: 20px;
        width: 100%;
        border: 1px solid red;
    }

    .card-profile .posts {
        display: flex;
        border: 1px solid red;
        margin-top: 20px;
        justify-content: flex-start;
    }

    .card-profile .posts .information {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }

    .card-profile .title {
        font-weight: medium;
    }

    .card-profile .icon {
        display: flex;
    }

    .kpi .total {
        display: flex;
    }

    .container-1 {
        display: flex;
        padding: 10px;
    }

    .kpi .data {
        margin: 10px;
        padding: 5%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .kpi .data .value {
        font-size: 2rem;
        margin-right: 2px;
    }

    .chart {
        width: 100%;
        padding: 10px;
    }
}
