/* Default styles */
@import url("default.css");

/* >= 1024px width */
@media screen and (min-width: 1024px) {
  body {
    background-color: var(--color-white);
  }

  .bg-image {
    height: 350px;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
  }

  .container-gallery {
    padding: 5%;
  }

  .gallery {
    columns: 4;
    column-gap: 10px;
  }

  .image {
    position: relative;
    break-inside: avoid;
    margin-bottom: 10px;
    display: flex;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .image-overlay {
    visibility: hidden;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 150ms ease-in-out;
  }

  .image-overlay svg {
    width: 20px;
  }

  .image-overlay .likes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  .image-overlay .likes .item {
    margin: 0px 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
  }

  .image-overlay .likes span {
    color: var(--color-white);
    display: flex;
  }

  .image img {
    width: 100%;
    display: block;
  }

  .image:hover > .image-overlay {
    visibility: visible;
  }

  .information {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10%;
    transition: 200ms ease-in-out;
    display: none;
  }

  .info .title {
    font-size: 1.5rem;
    width: 100%;
    text-wrap: nowrap;
  }

  .navigation {
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    padding: 1% 5%;
    z-index: 10;
    margin: 0% 5%;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .navigation ul {
    display: flex;
    align-items: center;
  }

  .navigation ul li {
    list-style: none;
    margin-right: 20px;
  }

  .navigation button {
    padding: 5px 10px;
    background-color: var(--color-white);
    border: none;
    cursor: pointer;
  }

  .navigation button:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

  .title-explore {
    position: sticky;
    top: 0;
    margin: 5%;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 2% 5%;
    z-index: 100;
  }

  .title-explore .inform {
    margin-top: 20px;
  }

  .logo svg {
    width: 50px;
  }

  .nothing {
    display: block;
    flex-direction: column;
    font-size: 2rem;
    width: max-content;
    color: #3a3a3a;
  }

  .goto {
    text-decoration: underline;
    cursor: pointer;
  }

  .goto:hover {
    opacity: 0.8;
  }

  .like {
    position: relative;
    display: flex;
    justify-content: flex-end;
    right: 0;
    width: min-content;
    align-items: flex-end;
    padding: 10px;
    margin: 5px;
    transition: 180ms ease-in-out;
  }

  .like:hover {
    transform: translate(0px, -5px);
  }

  .modalJaCurtido {
    display: none;
    position: fixed;
    padding: 20px;
    bottom: 5%;
    right: 5%;
    z-index: 250;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
  }

  .modalJaCurtido .content {
    display: flex;
    align-items: center;
  }

  .modalJaCurtido svg {
    margin: 5px;
  }

  #more-content {
    display: flex;
    justify-content: center;
    height: 20vh;
    font-size: 1.2rem;
  }

  #titulo_post {
    font-size: 2rem;
  }

  #modalComentario {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 30vw;
    padding: 20px;
    background-color: var(--color-white);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 200;
  }

  .input-area {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
  }

  .input-area textarea {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-gray);
  }

  .input-area textarea:focus-visible {
    outline: 1px solid var(--color-black);
  }

  #cancelar-comentario {
    padding: 10px 20px;
    background-color: var(--color-danger);
    color: var(--color-white);
    cursor: pointer;
    border: 1px solid var(--color-danger);
    transition: 200ms ease-in-out;
  }

  .modalComentario {
    display: none;
  }

  .modalComentario form {
    width: 100%;
  }

  #cancelar-comentario:hover {
    opacity: 0.8;
  }

  #publicarComentario {
    padding: 10px 20px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-black);
    cursor: pointer;
    transition: 200ms ease-in-out;
  }

  #publicarComentario:hover {
    background-color: var(--color-hover);
  }

  .user-comentario {
    width: min-content;
    padding: 5px;
    background-color: var(--color-gray);
  }

  #msgComentarios {
    height: 300px;
    overflow-y: auto;
    border-top: 1px solid var(--color-gray);
  }

  .comentario {
    padding: 10px;
    display: flex;
    border-bottom: 1px solid var(--color-gray);
    flex-direction: column;
  }

  .data-hora {
    padding: 10px 0px;
  }

  .comentario-conteudo {
    padding: 10px 0px;
  }

  #usuario_do_post {
    margin: 20px 0px;
    display: block;
  }

  .not-comments {
    padding: 20px 0px;
  }
}
