/* Default styles */
@import url("default.css");

/* >= 1024px width */
@media screen and (min-width: 1024px) {
    body {
        background-color: var(--color-white);
        display: flex;
    }

    .body {
        overflow-y: auto;
        padding: 5%;
        width: 100%;
        display: flex;
    }

    .sidebar {
        border: 1px solid var(--color-gray);
        width: 20vw;
        height: 100vh;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sidebar .logo-area {
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
    }

    .sidebar .logo-area svg {
        width: 150px;
        height: auto;
    }

    .options {
        margin: 5% 0%;
        display: flex;
        justify-content: left;
        width: 100%;
    }

    .options ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .options ul li {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin: 10px 0px;
    }

    .options ul li button {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        padding: 10px;
        font-weight: bold;
        width: 100%;
        transition: 200ms ease-in-out;
        background-color: var(--color-white);
        border: none;
    }

    .options button:hover {
        color: var(--color-black);
        background-color: var(--color-gray);
        text-decoration: underline;
        cursor: pointer;
    }

    .options ul li button svg {
        width: 25px;
        margin-right: 5px;
    }

    .profile img {
        width: 35px;
        margin-right: 5px;
    }

    .profile {
        background-color: var(--color-gray);
        display: flex;
        padding: 10px 30px;
        justify-content: center;
        align-items: center;
    }

    .profile-card {
        display: flex;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
        padding: 20px;
        height: min-content;
        margin-right: 5%;
    }

    .profile-card img {
        width: 120px;
        margin-right: 20px;
    }

    .data-info {
        display: flex;
        flex-direction: column;
    }

    .data-info .content {
        display: flex;
        justify-content: left;
    }

    .data-info .content .data {
        display: flex;
        flex-direction: column;
        margin-right: 60px;
    }

    .data-info .content .data .title-card {
        font-weight: bold;
    }

    .profile-card .name {
        font-size: 1.8rem;
        font-weight: medium;
        margin: 20px 0px;
    }

    .chart {
        border: 1px solid red;
        width: 100%;
        height: auto;
    }

    #modal {
        display: none;
    }

    .modal-post {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(2px);
        padding: 5%;
        align-self: center;
        width: 100%;
        height: 100%;
    }

    .modal-post .modal {
        background-color: var(--color-white);
        padding: 2% 5%;
        margin: 5%;
    }

    .modal-post .title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .modal form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal .image label {
        padding: 5%;
        border: 2px dashed var(--color-black);
        display: flex;
        justify-content: center;
    }

    .modal .image {
        width: 50%;
    }

    .modal .image input {
        display: none;
    }

    .information {
        display: flex;
        flex-direction: column;
    }
}
