@import url("default.css");

/* >= 1024px width */
@media screen and (min-width: 1024px) {
    body {
        background-color: var(--color-white);
    }

    .container {
        display: flex;
        align-items: center;
    }

    .image {
        background-image: url("../images/20210613_172924.jpg");
        height: 100vh;
        width: 50vw;
        background-position: center left;
        background-size: cover;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .logo-container .logo svg {
        width: 80px;
        height: auto;
    }

    .logo-container h2 {
        font-weight: bold;
        font-size: 2rem;
    }

    form {
        padding: 0% 6%;
        width: 50vw;
    }

    form .inputs {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
    }

    form .inputs label {
        margin: 2px 0px;
    }

    form .inputs label::after {
        content: " *";
    }

    form .inputs input {
        width: 100%;
        padding: 12px;
        border: 1px solid transparent;
        background-color: var(--color-gray);
    }

    form .inputs button {
        padding: 14px;
        background-color: var(--color-black);
        color: var(--color-white);
        border: 1px solid var(--color-black);
        font-weight: bold;
        cursor: pointer;
        transition: 180ms ease-in-out;
    }

    form .inputs button:hover {
        border: 1px solid var(--color-hover);
        background-color: var(--color-hover);
    }

    form .inputs input:focus-visible {
        outline: 1px solid var(--color-black);
    }

    form #messages {
        display: flex;
        height: 20px;
        justify-content: center;
        color: var(--color-danger);
        margin: 20px 0px;
    }

    form #messages svg {
        width: 20px;
        margin: 0px 5px;
    }

    .more .link-container {
        display: flex;
        justify-content: center;
    }

    .more .link-container span {
        margin-right: 8px;
    }

    .more .link-container a {
        color: var(--color-black);
    }

    .more .link-container a:hover {
        color: var(--color-hover);
    }
}
