/* Default styles */
@import url("default.css");

/* >= 1024px width */
@media screen and (min-width: 1024px) {
    body {
        background-color: var(--color-white);
    }

    .hero {
        position: relative;
        margin: 2% 5%;
        height: 30vh;
        padding: 5%;
        background-position: center left;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .profile-card {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(5px);
        padding: 15px 30px;
        display: flex;
        align-items: center;
    }

    .buttons .edit-profile {
        margin: 10px 0px;
    }

    .profile-card .picture {
        margin-right: 20px;
    }

    .profile-card .picture img {
        width: 100px;
        border-radius: 50%;
    }

    .profile-card .info .username {
        display: flex;
        flex-direction: column;
    }

    .profile-card .info .name {
        font-size: 1.5rem;
        font-weight: medium;
    }

    .profile-card .info {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }

    .profile-card .info .email-container {
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
    }

    .profile-card .info .email {
        color: var(--color--black);
        text-decoration: none;
    }

    .profile-card .info .email:hover {
        text-decoration: underline;
    }

    .profile-card .info .title {
        color: var(--color-opaque);
        font-weight: bold;
    }

    .profile-card .info-profile {
        display: flex;
    }

    .profile-card .info-profile .data {
        display: flex;
        flex-direction: column;
        margin: 0px 10px;
    }

    .profile-card .info-profile .data .label {
        margin: 15px 0px;
        color: var(--color-opaque);
    }

    .hero .edit-profile {
        align-self: last baseline;
    }

    .hero .edit-profile button {
        padding: 10px 30px;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: var(--color-white);
        transition: 200ms ease-in-out;
    }

    .hero .edit-profile button:hover {
        opacity: 0.9;
    }

    .hero .edit-profile svg {
        width: 20px;
        height: auto;
        margin-right: 10px;
    }

    .container-gallery {
        padding: 5%;
    }

    .gallery {
        columns: 4;
        column-gap: 10px;
    }

    .image {
        position: relative;
        break-inside: avoid;
        margin-bottom: 10px;
    }

    .image-overlay {
        visibility: hidden;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--color-opaque);
        cursor: pointer;
    }

    .image-overlay svg {
        width: 20px;
    }

    .image-overlay .likes {
        position: relative;
        display: flex;
        justify-content: center;
        top: 50%;
    }

    .image-overlay .likes .item {
        margin: 0px 10px;
    }

    .image-overlay .likes span {
        color: var(--color-white);
        margin: 0px 5px;
    }

    .image img {
        width: 100%;
        display: block;
    }

    .image:hover > .image-overlay {
        visibility: visible;
    }

    .navigation {
        position: sticky;
        top: 0;
        background-color: var(--color-white);
        padding: 2% 5%;
        z-index: 10;
        margin: 0% 5%;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .navigation ul {
        display: flex;
    }

    .navigation ul li {
        list-style: none;
        margin-right: 20px;
    }

    .navigation button {
        padding: 5px 10px;
        background-color: var(--color-white);
        border: none;
        cursor: pointer;
    }

    .navigation button:hover {
        opacity: 0.8;
        text-decoration: underline;
    }

    /* Modal Edit Profile */
    #modalEditProfile {
        display: none;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 100;
    }

    #modalEditProfile .modal-container {
        background-color: var(--color-white);
        margin: 5%;
        padding: 2% 5%;
    }

    #modalEditProfile .modal-container span:nth-child(1) {
        color: var(--color--black);
        font-weight: medium;
        font-size: 1.8rem;
    }

    .edit-container {
        margin: 2% 5%;
        display: flex;
        justify-content: space-between;
    }

    .other {
        width: 100%;
        margin: 2% 0%;
    }

    .other .inputs {
        margin: 2% 0%;
    }

    .edit-container .image {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2% 0%;
    }

    .edit-container .image input {
        padding: 5px;
        border: 1px solid var(--color-gray);
        background-color: var(--color-gray);
    }

    .edit-container .image input:focus-visible {
        outline: 1px solid var(--color-black);
    }

    .edit-container .image img {
        width: 150px;
        border-radius: 50%;
    }

    .select-image {
        margin: 5% 0%;
    }

    .username {
        margin: 2% 0%;
    }

    .select-image label {
        background-color: var(--color-black);
        color: var(--color-white);
        padding: 10px;
    }

    .select-image input {
        display: none;
    }

    .edit-info {
        width: 50%;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .inputs input {
        padding: 10px;
        border: 1px solid var(--color-gray);
        background-color: var(--color-gray);
    }

    .inputs label::after {
        content: " *";
    }

    .names {
        display: flex;
        justify-content: space-between;
    }

    .name {
        display: flex;
        flex-direction: column;
        margin: 2% 0%;
    }

    .name label::after {
        content: " *";
    }

    .name input {
        padding: 10px;
        max-width: 100%;
        background-color: var(--color-gray);
        border: 1px solid var(--color-gray);
    }

    .name input:focus-visible {
        outline: 1px solid var(--color-black);
    }

    .inputs input:focus-visible {
        outline: 1px solid var(--color-black);
    }

    .options .delete {
        background-color: transparent;
        padding: 5px;
        border: none;
        color: var(--color-danger);
        cursor: pointer;
        transition: 200ms ease-in-out;
    }

    .options .delete:hover {
        background-color: var(--color-danger);
        color: var(--color-white);
    }

    .options {
        display: flex;
        justify-content: space-between;
        margin-right: 5%;
    }

    .options .cancel {
        padding: 10px 50px;
        border: 1px solid var(--color-danger);
        background-color: var(--color-white);
        cursor: pointer;
        color: var(--color-danger);
        transition: 200ms ease-in-out;
        margin-right: 20px;
    }

    .options .cancel:hover {
        background-color: var(--color-danger);
        color: var(--color-white);
    }

    .options .save {
        padding: 10px 50px;
        border: 1px solid var(--color-black);
        background-color: var(--color-black);
        color: var(--color-white);
        cursor: pointer;
        transition: 200ms ease-in-out;
    }
    .options .save:hover {
        background-color: var(--color-opaque);
        border: 1px solid var(--color-opaque);
    }

    /* Modal Edit Cover */
    #modalEditCover {
        background-color: var(--color-white);
    }

    #modalEditCover {
        display: none;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 100;
    }

    #modalEditCover .edit-container span:nth-child(1) {
        font-size: 1.8rem;
        font-weight: medium;
        margin: 2% 0%;
    }

    #modalEditCover .edit-container {
        background-color: var(--color-white);
        padding: 2% 5%;
        display: flex;
        flex-direction: column;
    }

    #modalEditCover .edit-container .opt-cover {
        display: flex;
        flex-direction: column;
    }

    #modalEditCover .edit-container .cover {
        width: 100%;
        height: 30vh;
        background-position: center;
        background-size: cover;
    }

    .select-cover {
        margin: 2% 0%;
    }

    .select-cover input {
        display: none;
    }

    .select-cover label {
        padding: 10px 50px;
        color: var(--color-white);
        background-color: var(--color-black);
    }

    .options-cover {
        display: flex;
        justify-content: flex-end;
    }

    .options-cover button {
        padding: 10px 50px;
        cursor: pointer;
    }

    #cancelCover {
        margin-right: 20px;
        background-color: var(--color-white);
        border: 1px solid var(--color-danger);
        color: var(--color-danger);
        transition: 200ms ease-in-out;
    }

    #cancelCover:hover {
        background-color: var(--color-danger);
        color: var(--color-white);
    }

    #saveCover {
        background-color: var(--color-black);
        border: 1px solid var(--color-black);
        color: var(--color-white);
        transition: 200ms ease-in-out;
    }

    #saveCover:hover {
        background-color: var(--color-opaque);
    }

    .add-post {
        position: fixed;
        bottom: 10%;
        right: 5%;
        padding: 10px;
        display: flex;
        cursor: pointer;
        align-items: center;
        color: var(--color-white);
        background-color: var(--color-black);
        box-shadow: -5px 5px 5px -2px rgba(0, 0, 0, 0.2);
        transition: 200ms ease-in-out;
    }

    .add-post:hover {
        background-color: var(--color-hover);
    }

    .add-post svg {
        width: 35px;
        margin: 0px 10px;
        height: auto;
    }

    .new-post {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
        z-index: 120;
    }

    .new-post-container {
        margin: 20px;
        display: flex;
        align-items: center;
    }

    .new-post-container .sidea span {
        font-size: 1.8rem;
        margin: 10px 0px;
        font-weight: medium;
    }

    .new-post-container .sidea {
        width: 50%;
    }

    .new-post-container {
        background-color: var(--color-white);
        padding: 2%;
    }

    .new-post-container .image {
        width: 100%;
        border: 1px solid var(--color--black);
        margin: 10px 0px;
    }

    .new-post-container .image img {
        width: 100%;
        break-inside: avoid;
    }

    .buttons-post {
        display: flex;
        justify-content: flex-end;
    }

    .buttons-post button {
        padding: 10px 30px;
        margin: 0px 10px;
    }

    #publicar {
        border: 1px solid var(--color-black);
        color: var(--color-white);
        background-color: var(--color-black);
        cursor: pointer;
        width: 200px;
        transition: 200ms ease-in-out;
    }

    #publicar:hover {
        background-color: var(--color-opaque);
    }

    #hashtag {
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        transition: 200ms ease-in-out;
        cursor: pointer;
    }

    #hashtag:hover {
        background-color: var(--color-black);
        color: var(--color-white);
    }

    #cancelPost {
        background-color: var(--color-danger);
        border: 1px solid var(--color-danger);
        color: var(--color-white);
        cursor: pointer;
        transition: 200ms ease-in-out;
    }

    #cancelPost:hover {
        opacity: 0.8;
    }

    .container-text form {
        padding: 10px;
        overflow-y: scroll;
        border-top: 1px solid var(--color-gray);
    }

    .container-text .input-post {
        margin: 20px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container-text {
        padding: 2%;
        width: 60%;
    }

    .container-text input,
    .container-text textarea {
        padding: 10px;
        background-color: var(--color-gray);
        border: 1px solid var(--color-gray);
    }

    #titulo {
        border-bottom: 1px solid var(--color-black);
        font-size: 2rem;
    }

    #descricao {
        padding: 5px;
        margin: 10px 0px;
    }

    #autor {
        padding: 5px;
        font-size: 1rem;
        font-weight: medium;
    }

    input:focus-visible,
    textarea:focus-visible {
        outline: 1px solid var(--color-black);
    }

    #tags {
        background-color: var(gray);
        padding: 5px;
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        text-wrap: wrap;
    }

    .listaHashtags {
        border: 1px solid var(--color-gray);
        padding: 5px;
        margin: 0px 5px;
        background-color: var(--color-gray);
    }
}
