/* Default styles */
@import url("default.css");

/* >= 1024px width */
@media screen and (min-width: 1024px) {
    body {
        background-color: var(--color-white);
    }

    .hero {
        position: relative;
        margin: 2% 5%;
        background-image: url("../images/capa.png");
        height: 30vh;
        padding: 5%;
        background-position: center left;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .profile-card {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(5px);
        padding: 15px 30px;
        display: flex;
        align-items: center;
    }

    .profile-card .picture {
        margin-right: 20px;
    }

    .profile-card .picture img {
        width: 100px;
    }

    .profile-card .info .username {
        display: flex;
        flex-direction: column;
    }

    .profile-card .info .name {
        font-size: 1.5rem;
        font-weight: medium;
    }

    .profile-card .info {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }

    .profile-card .info .email-container {
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
    }

    .profile-card .info .email {
        color: var(--color--black);
        text-decoration: none;
    }

    .profile-card .info .email:hover {
        text-decoration: underline;
    }

    .profile-card .info .title {
        color: var(--color-opaque);
        font-weight: bold;
    }

    .profile-card .info-profile {
        display: flex;
    }

    .profile-card .info-profile .data {
        display: flex;
        flex-direction: column;
        margin: 0px 10px;
    }

    .profile-card .info-profile .data .label {
        margin: 15px 0px;
        font-weight: bold;
        color: var(--color-opaque);
    }

    .hero .edit-profile {
        align-self: last baseline;
    }

    .hero .edit-profile button {
        padding: 10px 30px;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: var(--color-white);
        transition: 200ms ease-in-out;
    }

    .hero .edit-profile button:hover {
        opacity: 0.9;
    }

    .hero .edit-profile svg {
        width: 20px;
        height: auto;
        margin-right: 10px;
    }

    .container-gallery {
        padding: 5%;
    }

    .gallery {
        columns: 4;
        column-gap: 10px;
    }

    .image {
        position: relative;
        break-inside: avoid;
        margin-bottom: 10px;
    }

    .image-overlay {
        visibility: hidden;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--color-opaque);
        cursor: pointer;
    }

    .image-overlay svg {
        width: 20px;
    }

    .image-overlay .likes {
        position: relative;
        display: flex;
        justify-content: center;
        top: 50%;
    }

    .image-overlay .likes .item {
        margin: 0px 10px;
    }

    .image-overlay .likes span {
        color: var(--color-white);
        margin: 0px 5px;
    }

    .image img {
        width: 100%;
        display: block;
    }

    .image:hover > .image-overlay {
        visibility: visible;
    }

    .navigation {
        padding: 2% 5%;
        margin: 0% 5%;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .navigation ul {
        display: flex;
    }

    .navigation ul li {
        list-style: none;
        margin-right: 20px;
    }

    .navigation button {
        padding: 5px 10px;
        background-color: var(--color-white);
        border: none;
        cursor: pointer;
    }

    .navigation button:hover {
        opacity: 0.8;
        text-decoration: underline;
    }

    .modal-edit-profile {
        display: none;
        position: absolute;
        z-index: 10;
        top: 0;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
        padding: 5%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .modal-edit-profile .edit {
        padding: 2% 5%;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
    }

    .edit .inputs {
        display: flex;
        flex-direction: column;
        margin: 0px 10px;
    }

    .edit .inputs input {
        padding: 10px;
        border: none;
        width: 100%;
        background-color: var(--color-gray);
    }

    .edit .inputs input:focus-visible {
        outline: 1px solid var(--color-black);
    }

    .close {
        display: flex;
        justify-content: flex-end;
    }

    .items {
        display: flex;
    }

    .close svg {
        width: 25px;
        position: relative;
        cursor: pointer;
    }
}
