:root {
    /* Colors */
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #eeeeee;
    --color-opaque: rgba(0, 0, 0, 0.5);
    --color-danger: #ff0000;
    --color-success: rgb(26, 170, 85);
    --color-hover: rgba(0, 0, 0, 0.85);

    /* Fonts */
    --font-default: "Space Grotesk", sans-serif;
}
